html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  color: #333333;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  margin-bottom: 122px;
  padding-top: 29px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #95e1d3;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 490px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #95e1d3;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  transition: all 200ms linear;
}

.menu-link::after {
  display: block;
  content: "";
  width: 50px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  transition: all 200ms linear;
  opacity: 0;
  visibility: hidden;
}

.menu-link:hover::after,
.menu-link:focus::after,
.menu-link:hover,
.menu-link:focus {
  color: #f38181;
  opacity: 1;
  visibility: visible;
}

.services {
  margin-bottom: 86px;
}

.services-subtitle,
.team-subtitle {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 0 16px;
}

.services-title,
.team-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 65px;
}

.services-title::after,
.team-title::after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 40px;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.servises-item {
  width: 382px;
  padding-left: 82px;
  position: relative;
}

.servises-item::before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background: url(../img/icon-services/photography.png) no-repeat;
  position: absolute;
  left: 20px;
  top: 0;
}

.servises-item:nth-child(2)::before {
  background-image: url(../img/icon-services/design.png);
}

.servises-item:nth-child(3)::before {
  background-image: url(../img/icon-services/creativity.png);
}

.servises-item:nth-child(4)::before {
  background-image: url(../img/icon-services/seo.png);
}

.servises-item:nth-child(5)::before {
  background-image: url(../img/icon-services/css-html.png);
}

.servises-item:last-child::before {
  background-image: url(../img/icon-services/digital.png);
}

.servises-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 92px;
}

.services-item-title {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0 0 14px;
}

.services-item-description,
.team-description {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  margin: 0;
} 

.team {
  margin-bottom: 82px;
}

.team-title {
  margin: 0 0 40px;
}

.team-description {
  padding: 0 112px;
  text-align: center;
  margin: 0 0 88px;
}

.team-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.team-item {
  position: relative;
}

.team-image {
  margin: 0 0 30px;
  transition: all 200ms linear;
}

.team-name {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.team-position {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  font-weight: 300;
  color: #999999;
  margin: 0;
}

.team-item:hover .social-list,
.team-item:focus .social-list,
.team-item:hover .team-image,
.team-item:focus .team-image {
  opacity: 1;
  box-shadow: 10px 10px 0 #95e1d3;
  transform: translate(-10px,-10px);
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 470px;
  background-image: linear-gradient( 0deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 200ms linear;
}

.social-link {
  display: block;
  width: 56px;
  height: 56px;
  background: #fce38a no-repeat center;
  transition: all 200ms linear;
}

.social-item:not(:last-child) .social-link {
  border-right: 1px solid rgba(243, 129, 129, 0.502);
}

.social-item:first-child .social-link {
  background-image: url(../img/icon-team/facebook.png);
}

.social-item:nth-child(2) .social-link {
  background-image: url(../img/icon-team/twitter.png);
}

.social-item:nth-child(3) .social-link {
  background-image: url(../img/icon-team/pinterest.png);
}

.social-item:last-child .social-link {
  background-image: url(../img/icon-team/instagram.png);
}

.social-link:hover,
.social-link:focus {
  background-color: #95e1d3;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  padding: 10px 0;
}

.sign {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

.sign a {
  text-decoration: none;
  color: #f38181;
}

.input-button {
  font-size: 0;
}

.input-button input {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  font-weight: 300;
  color: #cccccc;
  border: 1px solid #e7e7e7;
  padding: 0 12px;
  width: 230px;
  height: 40px;
}

.input-button button {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #95e1d3;
  width: 150px;
  height: 40px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}