* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.menu-link:hover {
  color: #03a9f4;

}

.menu-link {
  text-transform: uppercase;
  text-decoration: none;
}