@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v14-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../fonts/roboto-v20-cyrillic_latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-cyrillic_latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* MOBILE */

/* HEADER */
.header {
  background: rgb(26, 25, 21) url(../img/background-tablet.png) no-repeat center;
  background-size: cover;
}

.container {
  text-align: center;
  width: 20rem;
  margin: 0 auto;
  padding: 1.25rem 0.625rem 8.625rem 0.625rem;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 7.125rem;
  width: 9.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-link {
  display: block;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
}

.menu-item:last-child .menu-link {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  width: 5.625rem;
  height: 2.25rem;
  padding-top: 0.4375rem;
}

.logo {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.site-navigation {
  margin-bottom: 2.1875rem;
}

.header-title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 0 0.9375rem 0;
}

.header-description {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1.2;
  color: #ffffff;
  padding: 0 1.875rem;
  margin: 0 0 1.125rem 0;
}

.header-button {
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  width: 17.5rem;
  height: 2.5rem;
  background-color: #ff4e50;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

/* MAIN */

.main-section {
  width: 20rem;
  margin: 0 auto;
  padding: 4.375rem 1.25rem 3.4375rem 1.25rem;
  text-align: center;
}

.main-section-title {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.2;
  color: #333333;
  margin: 0 0 0.8125rem 0;
}

.main-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-item {
  width: 13.75rem;
}

.main-item:nth-child(2) {
  order: 1;
}

.main-item:last-child {
  order: 2;
}

.main-item:not(:last-child) {
  margin-bottom: 1.75rem;
}

.main-item-image {
  margin: 0 auto;
  border-radius: 50%;
}

.image-container {
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;
}

.image-container::after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: rgb(255, 78, 80) url(../img/icon/tv-icon.png) no-repeat center;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  right: -0.25rem;
  bottom: -0.25rem;
}

.main-item:nth-child(2) .image-container::after{
  background: rgb(28, 215, 173) url(../img/icon/cofe-icon.png) no-repeat center;
}

.main-item:nth-child(3) .image-container::after{
  background: rgb(255, 165, 7) url(../img/icon/icon-3.png) no-repeat center;
}

.main-item:last-child .image-container::after{
  background: rgb(78, 115, 219) url(../img/icon/message-icon.png) no-repeat center;
}

.main-item-title {
  font-weight: 700;
  line-height: 1.2;
  color: #333333;
  margin: 0 0 0.8125rem 0;
}

.main-item-description {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 1.2;
  color: #666666;
  margin: 0;
}

.main-button {
  font-weight: 700;
  line-height: 1.2;
  color: #ff4e50;
  background-color: transparent;
  border: 2px solid rgb(255, 78, 80);
  border-radius: 20px;
  width: 17.5rem;
  height: 2.5rem;
  cursor: pointer;
  outline: none;
  transition: all 200ms linear;
}

.main-button:hover {
  color: #ffffff;
  background-color: #ff4e50;
}

/* TABLET */
@media (min-width: 48rem) {
  /* HEADER */
  .container {
    width: 46.75rem;
    padding: 2.375rem 2.5rem 14.625rem 2.5rem;
  }

  .site-navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9.375rem;
  }

  .menu-list {
    margin: 0;
  }

  .header-title {
    font-size: 3.25rem;
    width: 33.25rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .header-description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .header-button {
    width: 14.125rem;
  }

  /* MAIN */
  .main-section {
    width: 33.25rem;
  }

  .main-section-title {
    margin: 0 0 1.875rem 0;
  }

  .main-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 2.375rem;
  }

  .main-list .main-item {
    order: 0;
  }

  .main-item:nth-last-child(2) {
    margin-bottom: 0;
  }

  .main-button {
    width: 12rem;
  }
} 

@media (min-width: 58.75rem) {
  /* HEADER */
  .header {
    background-image: url(../img/background-desktop.png);
  }

  .container {
    width: 58.75rem;
    padding: 2.375rem 0 14.625rem 0;
  }

  /* MAIN */
  .main-section {
    width: 58.75rem;
    padding: 4.375rem 0 3.4375rem 0;
  }

  .main-list .main-item {
    margin: 0;
  }
}




.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}