$main-font: "Montserrat", Arial, sans-serif;
$secondary-font: "Roboto", sans-serif;
$secondary-font-subtitle: "Kaushan Script", cursive;

$main-white-color: #ffffff;
$secondary-bg-color: #95e1d3;
$main-accent-color: #fce38a;
$secondary-accent-color: #f38181;

$main-text-color: #333333;
$secondary-text-color: #999999;

