.section__subtitle {
  font-family: $secondary-font-subtitle;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 0.75rem 0;
}

.section__title {
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.section__title::after {
  display: block;
  content: "";
  width: 3.75rem;
  height: 0.1875rem;
  background-color: $secondary-accent-color;
  margin: 0 auto;
  margin-top: 2.1875rem;
}

.services-list__item-description,
.team__description {
  font-family: $secondary-font;
  font-size: 15px;
  line-height: 1.5rem;
  color: $secondary-text-color;
  margin: 0;
}