.footer {
  @include sb-center-flex;
  border-top: 1px solid #e5e5e5;
  padding: 0.75rem 0;
}

.sign {
  @include font(0.875rem, 1.2);
  margin: 0;
}

.sign__link {
  text-decoration: none;
  color: $secondary-accent-color;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__input {
  font-family: $secondary-font;
  @include font(0.9375rem, 1.5rem, 300);
  font-style: italic;
  color: $secondary-text-color;
  border: 1px solid #e7e7e7;
  padding: 0 0.75rem;
  width: 14.375rem;
  height: 2.5rem;
  outline: none;
}

.contact__input::-webkit-input-placeholder {
  color: #cccccc;
}

.contact__input::-moz-placeholder {
  color: #cccccc;
}

.contact__input:-ms-input-placeholder {
  color: #cccccc;
}

.contact__input::-ms-input-placeholder {
  color: #cccccc;
}

.contact__input::placeholder {
  color: #cccccc;
}

.contact__btn {
  @include font(0.875rem, 1.2, 700);
  text-transform: uppercase;
  color: $main-white-color;
  background-color: $secondary-bg-color;
  width: 9.375rem;
  height: 2.5rem;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
